.pjdvbox{
	-fx-background-color : linear-gradient(to left bottom, #DEB887, #ECE2D5);

}
.pjdhaut{
	-fx-background-color : #8D5024;
   

}
.pjqpAnchorp{
	-fx-background-color : #DEB887;

}
.pjqAnchor{
     -fx-background-color : #DEB887;
}
.optionAnchor{
       -fx-background-color : #DEB887;
}
.panlancAnchor{
-fx-background-color : #DEB887;

}
.pjrecAnchor{
-fx-background-color : #DEB887;

}
.rjAnchor{
-fx-background-color : #DEB887;
}
.newGame{
   -fx-background-color : #F4F5F7;
}
.newGame:hover{
   -fx-background-color : #E0D1BA;
}
.pjdIA1:hover{
-fx-background-color : #EDCA9B;

}
.pjdIA2:hover{
-fx-background-color : #E0D1BA;

}
.pjdIA3:hover{
-fx-background-color : #E0D1BA;

}
.backDifficuleIA:hover{
-fx-background-color : #DDDAD4;
}
.newGamePC{
-fx-background-color : #F4F5F7;
}
.newGamePC:hover{
  -fx-background-color : #E0D1BA;
}
.load{ 
   -fx-background-color : #F4F5F7;
}
.load:hover{ 
   -fx-background-color : #E0D1BA;
}
.settings{
     -fx-background-color : #F4F5F7;
}
.settings:hover{
     -fx-background-color : #E0D1BA;
}
.rules{
     -fx-background-color : #F4F5F7;
}
.rules:hover{
     -fx-background-color : #E0D1BA;
}
.quit{
  -fx-background-color : #F4F5F7;
}
.quit:hover{
  -fx-background-color : #E0D1BA;
}